.main-form {
    $back-gray: #f4f4f4;

    h3 {
        font-weight: bold !important;
        margin-bottom: 2rem;
    }

    .main-form-info {
        background-color: $back-gray;
        padding: 4rem 2rem 2rem 2rem;
        border-radius: 2rem;
        margin-bottom: 2rem;
    }

    .main-form-hero {
        background-color: $back-gray;
        padding: 4rem 2rem 2rem 2rem;
        border-radius: 2rem;
        margin-bottom: 2rem;
    }
}